html{
	background-color: #262222;
}
/*mobile format*/

head, h1, h2, body, main{
	color: #38ab57;
	font-family: monospace, Arial, sans serif;
	font-style: oblique;
}
header{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 35px;
	text-align: center;
	color:  #38ab57;
	font-family: monospace, Arial, sand serif;
	border: 2px ridge #38ab57;
	border-width: 10px;
	background-color: #262222;
	border-radius: 5px;
}
h1{
	font-size: 25px;
}
nav{
	
	text-align: center;
	color:  #38ab57;
	font-family: monospace, Arial, sand serif;
	
}
nav ul{
	
	list-style-type: none;
	text-align: center;
}
nav li{
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px ridge #38ab57;
	border-width: 5px;
	background-color: #262222;
	display: inline-block;
	font-size:1.25em;
	font-family: monospace, Arial, sans-serif;
	font-weight: bold;
	box-shadow: 4px 4px 4px #000;
	border-radius: 10px;
}
nav li a{
	display: block;
	color: #38ab57;
	padding: 8px;
	text-decoration: none;
}
nav li a:hover{
	color: #fff;
}
img{
	max-width: 100%;
	height: auto;
}
.img1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #000;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
}

.img2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #38ab57;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
}
video{
	margin: 0 auto;
	margin-bottom: 10px;
	width: 400px;
	height: 500px;
	overflow: hidden;
}
#project ul{
	list-style-type: none;
	margin: 0;
	text-align: left;
}
#project li{
	display: inline-block;
	font-size:1.25em;
	font-family: monospace, Arial, sans-serif;
	font-weight: bold;
}
#project li a{
	display: block;
	color: #38ab57;
	text-align: left;
	padding: .5em 1em;
	text-decoration: none;
}
.map{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #000;
	border-radius: 10px;
	box-shadow: 5px 5px 10px black;
}
.intro{
	text-align: center;
}
.about-text section{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	margin: 1%;
	padding: 1%;
	box-shadow: 5px 5px 12px #000;
}
.about-titles{
	text-align: center;
}
.pic-text{
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	color: #38ab57;
	max-width: 100%;
	padding: 20px;
	text-align: center;
	font-family: monospace, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}
.frame{
	position: relative;
	max-width: 350px;
	margin: 2% auto;
}
table{
        border: 1px solid #38ab57;
        border-collapse: collapse;
        margin: 0 auto;
        width: 100%;

    }
caption{
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
	color: #38ab57;
}
th, td{
        border: 1px solid #000;
        padding: 2%;
	font-size: 1.5em;
    }
th a, td a{
	text-decoration: none;
	color: #38ab57;
	font-family: monospace, Arial, sans serif;
	font-style: oblique;
	font-size: 1.25em;
}
th a:hover, td a:hover{
	color: #fff;
}
.favoriteFormat{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#form{
    margin-top: 2%;
    background-color: #262222;
    padding: 2%;

}
#form h2{
    text-align: center;
}
fieldset, input, select, textarea{
    margin-bottom: 2%;
}
fieldset legend{
    font-weight: bold;
    font-size: 1.25em;
}
label{
    display: block;
    padding-top: 3%;
}
form #submit{
    margin: 0 auto;
    border: none;
    display: block;
    padding: 2%;
    background-color: #1c1b1b;
    font-size: 1em;
    border-radius: 10px;
    color: #38ab57
}
input[type=text] {
  background-color: #1c1b1b;
  color: #38ab57;
}
input[type=email] {
  background-color: #1c1b1b;
  color: #38ab57;
}
input[type=tel] {
  background-color: #1c1b1b;
  color: #38ab57;
}
option{
  background-color: #1c1b1b;
  color: #38ab57;
}
select{
  background-color: #1c1b1b;
  color: #38ab57;
}
textarea{
  background-color: #1c1b1b;
  color: #38ab57;
}

@media screen and(min-width: 630px), print {

h1{
	font-size: 30px;
}
nav li{
	font-size: 1em;
}
/*desktop format*/
@media screen and (min-width: 1015px), print {
h1{
	font-size: 60px
}
nav li{
	font-size: 1em;
}
.menu-icon{
	display: none;
}

}
