html{
	background-color: #262222;
}
/*mobile format*/

head, h1, h2, body, main{
	color: #38ab57;
	font-family: monospace, Arial, sans serif;
	font-style: oblique;
}
header{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 35px;
	text-align: center;
	color:  #38ab57;
	font-family: monospace, Arial, sand serif;
	border: 2px ridge black;
	border-width: 10px;
	background-color: #262222;
	border-radius: 5px;
}
h1{
	font-size: 30px;
}
nav{
	
	text-align: center;
	color:  #38ab57;
	font-family: monospace, Arial, sand serif;
	
}
nav ul{
	
	list-style-type: none;
	margin: 0;
	text-align: center;
}
nav li{
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px ridge black;
	border-width: 5px;
	background-color: #262222;
	display: inline-block;
	font-size:1.25em;
	font-family: monospace, Arial, sans-serif;
	font-weight: bold;
}
nav li a{
	display: block;
	color: #38ab57;
	padding: 8px;
	text-decoration: none;
}
nav li a:hover{
	color: #fff;
}
.img1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #000;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
}

.img2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #38ab57;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
}
#project ul{
	list-style-type: none;
	margin: 0;
	text-align: left;
}
#project li{
	display: inline-block;
	font-size:1.25em;
	font-family: monospace, Arial, sans-serif;
	font-weight: bold;
}
#project li a{
	display: block;
	color: #38ab57;
	text-align: left;
	padding: .5em 1em;
	text-decoration: none;
}
.map{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #000;
	border-radius: 10px;
	box-shadow: 5px 5px 10px black;
}
.intro{
	text-align: center;
}
.mobile{
	display: block;
}
.tablet-desktop{
	display: none;
}

@media screen and(min-width: 630px), print {
}
header{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 35px;
	text-align: center;
	color:  #38ab57;
	font-family: monospace, Arial, sand serif;
	border: 2px ridge black;
	border-width: 12px;
	background-color: #262222;
	border-radius: 5px;
}
/*h1{
	font-size: 20px;
}
nav li{
	padding-top: 8px;
	padding-bottom: 8px;
	border: 2px ridge black;
	border-width: 5px;
	background-color: #262222;
	display: inline-block;
	font-size:1.5em;
	font-family: monospace, Arial, sans-serif;
	font-weight: bold;
}

.img1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #000;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
}

.img2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #38ab57;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
}*/

}
/*desktop format*/
@media screen and (min-width: 1015px), print{
	header{
	padding-top: 35px;
	padding-bottom: 35px;
	font-size: 30px;
	text-align: center;
	color:  #38ab57;
	font-family: monospace, Arial, sand serif;
	border: 2px ridge black;
	border-width: 15px;
	background-color: #262222;
	border-radius: 5px;
	}
/*h1{
	font-size: 60px;
}

nav li{
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px ridge black;
	border-width: 10px;
	background-color: #262222;
	display: inline-block;
	font-size:1.75em;
	font-family: monospace, Arial, sans-serif;
	font-weight: bold;
}

img1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #000;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
}

.img2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #38ab57;
	border-radius: 10px;
	box-shadow: 5px 5px 10px black;
}*/

}
